form {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

form input {
    width: 195px;

}

#btn {
    width: 200px;
}

form p {
    border: 1px solid red;
    width: 200px;
    
}